# Wrangle and Analyze Data
# #WeRateDogs 

WeRateDogs is a twitter account that rates dogs. we are using data from their account for data wrangling course.<br>
A project which is part of Udacity Data Analyst Nanodegree.

#### Steps to Effective Data Wrangling are: 
1. We will first gather data from 3 differents sources using different methods
2. Then Assess the data visually and programatically for quality and tidiness issues. 
3. And then we are going to resolve those issues. 
4. The last step is no longer data wrangling, we are going to analyze the data. Give insights and make vizualisations.

## Gathering data
We have 3 sources of data to gather for this analysis.
1. twitter-archive-enhanced.csv, this file was already provided as a csv file. we are going to use pandas read_csv to import the file
2. image_predictions.tsv by using request library to download it
3. By using tweepy, extract data  from twitter API and store it in a file named tweet_json.txt

In [270]:
# importing all the library that we will need
import pandas as pd
import numpy as np
import tweepy
import requests
import json
import matplotlib.pyplot as plt;plt.rcdefaults()
import seaborn as sns
sns.set_style('darkgrid')
import re

### Importing file 1: twitter-archive-enhanced.csv

In [271]:
#import the twitter-archive-enhanced.csv
#Reading a sample to have a feel of the data
df_1 = pd.read_csv('twitter-archive-enhanced.csv')
df_archive = df_1.copy()
df_archive.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
541,806242860592926720,NaN,NaN,2016-12-06 21:04:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Dave. He's currently in a predicament. Doesn't seem to mind tho. 12/10 someone assist Dave https://t.co/nfprKAXqwu,7.833346e+17,4.196984e+09,2016-10-04 15:55:06 +0000,"https://twitter.com/dog_rates/status/783334639985389568/photo/1,https://twitter.com/dog_rates/status/783334639985389568/photo/1,https://twitter.com/dog_rates/status/783334639985389568/photo/1,https://twitter.com/dog_rates/status/783334639985389568/photo/1,https://twitter.com/dog_rates/status/783334639985389568/photo/1,https://twitter.com/dog_rates/status/783334639985389568/photo/1",12,10,Dave,None,None,None,None
1502,692041934689402880,NaN,NaN,2016-01-26 17:50:29 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>",This is Teddy. His head is too heavy. 13/10 (vid by @jooanrim) https://t.co/sRUpRpGZ3y,NaN,NaN,NaN,https://vine.co/v/iiI3wmqXYmA,13,10,Teddy,None,None,None,None
286,838831947270979586,NaN,NaN,2017-03-06 19:21:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Riley. His owner put a donut pillow around him and he loves it so much he won't let anyone take it off. 13/10 https:…,7.838400e+17,4.196984e+09,2016-10-06 01:23:05 +0000,"https://twitter.com/dog_rates/status/783839966405230592/photo/1,https://twitter.com/dog_rates/status/783839966405230592/photo/1,https://twitter.com/dog_rates/status/783839966405230592/photo/1",13,10,Riley,None,None,None,None
439,819952236453363712,NaN,NaN,2017-01-13 17:00:21 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\nhttps://t.co/f5WMsx0a9K https://t.co/6lJz0DKZIb,NaN,NaN,NaN,"https://www.gofundme.com/servicedogoliver,https://twitter.com/dog_rates/status/819952236453363712/photo/1",13,10,Oliver,None,None,None,puppo
1648,683773439333797890,NaN,NaN,2016-01-03 22:14:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Buddy. He's gaining strength. Currently an F4 tornado with wind speeds up to 260mph. Very devastating. 9/10 https://t.co/qipZbshNsR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/683773439333797890/photo/1,9,10,Buddy,None,None,None,None

### Using Request to programatically download  image_predictions.tsv from given url

In [272]:
#create a variable containing the url from which we want to request Data
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
#save the requested url in a file named image_predictions.tsv
with open('image_predictions.tsv', 'wb') as f:
    f.write(response.content)
#import the file in a dataframe with pandas
df_2 = pd.read_csv('image_predictions.tsv', delimiter='\t')
image_df = df_2.copy()
image_df.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1744,822872901745569793,https://pbs.twimg.com/media/C2tugXLXgAArJO4.jpg,1,Lakeland_terrier,0.196015,True,Labrador_retriever,0.160329,True,Irish_terrier,0.069126,True
1510,786036967502913536,https://pbs.twimg.com/media/CtKHLuCWYAA2TTs.jpg,1,golden_retriever,0.993830,True,cocker_spaniel,0.003143,True,Great_Pyrenees,0.000917,True
2010,878776093423087618,https://pbs.twimg.com/media/DDIKMXzW0AEibje.jpg,2,Italian_greyhound,0.734684,True,whippet,0.150487,True,Ibizan_hound,0.039725,True
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/852223481894903808/pu/img/JWNq40ol4DXvHoUP.jpg,1,prison,0.352793,False,dishwasher,0.110723,False,file,0.094112,False
313,671561002136281088,https://pbs.twimg.com/media/CVHdK-7WwAAsuyc.jpg,1,Gordon_setter,0.469373,True,black-and-tan_coonhound,0.270893,True,Rottweiler,0.153233,True

### Retrivieng Data from Twitter API

In [273]:
#authentication with twitter API using 
auth = tweepy.OAuthHandler('p2BWpeoQLwgyO9HNBAeYAwSAu' ,'fRnHPR225sL9lQtgvANK3tZMVh3TrwkPw6TkRqHMsY3EWgHW7y')
auth.set_access_token('1090421968623390720-cenMGb4xHFMnuyBXBZuLH4QuCRIaKZ','XMGq0HEaSWrSXVQMT080gkPToTx6HwuH0X4AWCaVGlR4R')

#create api to create to twitter with credetianls
api = tweepy.API(auth , wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

In [274]:
#putting tweet ids from archive_df in a list. the list will be used to query twitter api for more data
tweet_ids = df_archive['tweet_id'].tolist()

In [ ]:
# #looping through the list of tweet_ids to query to twitter API, saving the changes to tweet.json file
# with open('tweet_json.txt', 'a', encoding='utf8') as file:
#     for tweet_id in tweet_ids:
#         try:
#             tweet = api.get_status(tweet_id, tweet_mode='extended')
#             json.dump(tweet._json, file)
#             file.write('\n')
#         except tweepy.TweepError as e:
#                 print (e.reason)
#                 #print (e.api_code)

[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]

In [ ]:
#taking the api data from json file to panda dataframe
api_data = []

with open('tweet_json.txt') as json_file:
    for line in json_file:
        try: 
            json_data = json.loads(line)
            api_data.append(json_data)
        except:
            continue
df_3 = pd.DataFrame(api_data)
api_data_df = df_3.copy()
api_data_df.head()

In [ ]:
#counting twitter_ids that where not found in the API 
df_archive.tweet_id.count() - api_data_df.id.count()

In [ ]:
# As specified in the project instructions, I am going to only keep retweet_count and liked tweet(favorite count)
twitter_api_df = api_data_df[['id', 'retweet_count', 'favorite_count']]
twitter_api_df.head()

## Assessing Data 
In this section we are going to assess the 3 datasets that we have collected for issues to fix. we will identify and list them. those issues will be fixed in a later section. 
we will both assess the datasets visually and programatically using pandas.

#### Dataset 1: Twitter Archive
This is the twitter archive data from "twitter-archive-enhanced.csv" file. we imported it in a dataframe called df_archive.

In [ ]:
df_archive

In [ ]:
df_archive.info()

Quality Issues: 
while visually assessing the dataset visually

In [ ]:
df_archive.duplicated().sum()

In [ ]:
df_archive.name.isnull().sum()

In [ ]:
len(df_archive.name.unique())

In [ ]:
df_archive['name'].value_counts()

In [ ]:
df_archive['floofer'].value_counts()

In [ ]:
df_archive['doggo'].value_counts()

In [ ]:
df_archive['pupper'].value_counts()

In [ ]:
df_archive['puppo'].value_counts()

In [ ]:
(df_archive.loc[(df_archive[['doggo', 'floofer', 'pupper', 'puppo']] != 'None').sum(axis=1) > 1]).count()

In [ ]:
df_archive['rating_numerator'].count(), df_archive['rating_numerator'].isnull().sum()

In [ ]:
df_archive['rating_numerator'].value_counts()

In [ ]:
df_archive['rating_denominator'].count(), df_archive['rating_denominator'].isnull().sum()

In [ ]:
df_archive['rating_denominator'].value_counts()

#### Dataset 2: Image Prediction File

In [ ]:
image_df

In [ ]:
image_df.info()

In [ ]:
image_df.duplicated().sum()

#### Datasets 3: Data from API

In [ ]:
twitter_api_df.sample(500)

In [ ]:
twitter_api_df.info()

In [ ]:
twitter_api_df.duplicated().sum()

In [ ]:
twitter_api_df.isnull().sum()

In [ ]:
image_df.shape

In [ ]:
twitter_api_df.shape

In [ ]:
df_archive.shape

### Issues Found: 

#### Data Quality Issues:

1. In the twitter archive file, (from the csv) I doubt that 745 dogs's name is None. I would tend to consider this as missing value. this is a quality issue and should be replaced by NA for missing value. 

2. the columns doggo , floofer, pupper and puppo which are dogs stage have the value None (python equivalent of NA). which is an issue because when doing programatic assessment with pandas, its shows no null values


3. in_reply_to_status_id  with 78 non-null float64 has too many missing values, it would be hard to do any analysis with so many missing values. 

4.  in_reply_to_user_id  with only 78 non-null float64 has too many missing values, it would be hard to do any analysis with this column, to drop


5. retweeted_status_user_id  has too many  missing values    181 non-null float64

6. retweeted_status_timestamp    has too many missing values 181 non-null object

7. retweeted_status_timestamp    with only 181 non-null object has too many  missing values to be useful. The column will be dropped. 
8. 19 tweet_id failed while making taking data from the twitter api. 

9. I also doubt that  55 dogs are really called "a". This might be a typo. 

10. rename the name in the columns for image predictions. from p1 to breed_prediction_1

11. merge the archive dataset and api dataset based on tweet_ids

12. Incorrect values in rating numerators

13. ID fields need to be stored as strings since no numerical operations needs to be applied on them

#### Tidiness Issues: 

1. move the image and breed_prediction columns from image_df to new_df
2. Dog stages needs to be combined in one column

# Cleaning 

## Quality Issues
Quality issues are cleaned in the order used to list them in the assessement part

#### Define 
Quality issue No 1:<br>
In the df_archive file, in the column name, replace value None by NA

#### code

In [ ]:
#code
archive_1 = df_archive.copy()
df_archive['name'].replace('None', np.nan, inplace=True)

#### Test

In [ ]:
#test
df_archive.query('name == "None"')

### Define 
Quality issue No2: <br>
The columns doggo , floofer, pupper and puppo which are dogs stage have the value None.I am going to replace None with NA

#### code

In [ ]:
#replacing python None by pandas NA
df_archive['doggo'].replace('None', np.nan, inplace=True)
df_archive['floofer'].replace('None', np.nan, inplace=True)
df_archive['pupper'].replace('None', np.nan, inplace=True)
df_archive['puppo'].replace('None', np.nan, inplace=True)

#### Test

In [ ]:
df_archive.loc[(df_archive[['doggo', 'floofer', 'pupper', 'puppo']] == 'None').sum(axis=1) >= 1]

### Define
Quality Issues No 3,4,5,6,7. <br>
removing columns that would be hard to use due to too many missing values

#### code

In [ ]:
df_archive.drop(['in_reply_to_status_id'], inplace=True, axis=1)
df_archive.drop(['in_reply_to_user_id'], inplace=True, axis=1)
df_archive.drop(['retweeted_status_id'], inplace=True, axis=1)
df_archive.drop(['retweeted_status_user_id'], inplace=True, axis=1)
df_archive.drop(['retweeted_status_timestamp'], inplace=True, axis=1)

#### Test

In [ ]:
df_archive.info()

### Define
Quality Issue No 8: <br>
Removing the tweet_id present in the archive file but that where not found in the API

#### Code

In [ ]:
#counting twitter_ids that where not found in the API 
df_archive.tweet_id.count() - api_data_df.id.count()

In [ ]:
#only keeping successful tweet_ids
df_archive_new = df_archive.copy()
df_archive_new = df_archive[df_archive.tweet_id.isin(twitter_api_df.id.tolist())]

#### Test

In [ ]:
#checking 
df_archive_new.tweet_id.count() - api_data_df.id.count()

### Define
Quality Issue No 9: <br>
From archive_df, now archive_df_new, remove from the name's column the name a

#### Code

In [ ]:
df_archive_new['name'].replace('a', np.nan, inplace=True)

#### Test

In [ ]:
#test
df_archive_new.query('name == "a"')

### Define
Quality Issue No 10: <br>
rename the name in the columns for image predictions. from p1 to breed_prediction_1

#### code

In [ ]:
# rename the name in the columns for image predictions. from p1 to breed_prediction
image_df.rename(columns={'p1':'breed_prediction'}, inplace=True)

### Test

In [ ]:
#testing to verify name change
image_df.columns.tolist()

### Define
Quality issue No 11: <br>
merge the archive dataset and api dataset based on tweet_ids

#### Code

In [ ]:
# merge the archive dataset and twitter_api_df dataset based on common tweet_ids
new_df = df_archive_new.copy()
new_df = df_archive_new.merge(twitter_api_df,how='inner', left_on='tweet_id', right_on='id')

In [ ]:
#since columns tweet_id and id contains the same information, drop one of them
new_df.drop(['id'], inplace=True, axis=1)

#### Test

In [ ]:
# retweet_count and favorite_count added
new_df.info()

### Define
Quality issue 12: <br>
correct the values in rating numerators

#### Code

In [ ]:
# example of a tweet where the rating numerator did not consider the decimal value
df_archive.query('tweet_id == 786709082849828864')

In [ ]:
#use a regular expression to include decimal values in the numerator as well as the denominator
ratings = new_df.text.str.extract('((?:\d+\.)?\d+)\/(\d+\.?\d)', expand=True)
ratings

In [ ]:
ratings.columns = ['rating_numerator', 'rating_denominator']
ratings.sample(5)

In [ ]:
#make a copy of the archive dataframe before dropping the old ratings numeratior and denominator columns
new_df  = new_df.copy()
new_df.drop(['rating_numerator'], inplace=True, axis=1)
new_df.drop(['rating_denominator'], inplace=True, axis=1)
new_df.head()

In [ ]:
#merging the ratings object obtained from exctracting string with regular expression
new_df = pd.merge(new_df, ratings, left_index=True, right_index=True)
new_df.head()

#### Test

In [ ]:
#checking the same tweet_id after including new columns
new_df.query('tweet_id == 786709082849828864')

In [ ]:
#checking numerator values
new_df.rating_denominator.value_counts()

In [ ]:
#checking the numbers of tweet where the denominator is not equal to 10
(new_df.shape[0])-2316

In [ ]:
new_df.rating_numerator.value_counts()

In [ ]:
#checking values which seems very high so that I can adjust the regular expression
pd.set_option('display.max_colwidth', -1) 
new_df.query('rating_numerator == "15"')

In [ ]:
#checking values which seems very high so that I can adjust the regular expression
#it's might be a typo or something else, in any case from the text column, the rating is actually 420
pd.set_option('display.max_colwidth', -1) 
new_df.query('rating_numerator == "420"')

In [ ]:
#checking values which seems very high so that I can adjust the regular expression
pd.set_option('display.max_colwidth', -1) 
new_df.query('rating_numerator == "1776"')

In [ ]:
new_df[["rating_numerator", "rating_denominator"]] = new_df[["rating_numerator", "rating_denominator"]].apply(pd.to_numeric)

In [ ]:
# making a query to find all tweet with a rating above 16
pd.set_option('display.max_colwidth', -1) 
strange_numerator = new_df[(new_df['rating_numerator'] >= 16)]
strange_numerator

In [ ]:
strange_numerator.shape[0]

In [ ]:
strange_numerator.tweet_id.tolist()

In [ ]:
#since the numerator don't seems right, and they are only 21, I am going to delete them from the dataframe
archive_new = new_df.copy()
new_df = new_df[~new_df.tweet_id.isin(strange_numerator.tweet_id.tolist())]
#df_archive.drop(['in_reply_to_status_id'], inplace=True, axis=1)
new_df.shape[0]

In [ ]:
#checking if the shape of the new dataframe is the same 
archive_new.shape[0] - new_df.shape[0]

### Define
Quality issue  No 13:<br>
IDs in the archive dataframe needs to be converted to string

#### code

In [ ]:
new_df['tweet_id'] = new_df['tweet_id'].astype(str)

#### Test

In [ ]:
new_df.info()

## Tidiness Issues

### Define
make one column out of doggo, floofer, pupper, puppo. the new column is dog_stages

#### Code

In [ ]:
#check if any dog has more than one stage
new_df.loc[(new_df[['doggo', 'floofer', 'pupper', 'puppo']] ).sum(axis=1) > 1]

In [ ]:
new_df['dog_stages'] = new_df['text'].str.extract('(doggo|floofer|pupper|puppo)', expand=True)

In [ ]:
# dropping now useless floofer, pupper, doggo and puppo columns
new_df.drop(['doggo'], inplace=True, axis=1)
new_df.drop(['floofer'], inplace=True, axis=1)
new_df.drop(['pupper'], inplace=True, axis=1)
new_df.drop(['puppo'], inplace=True, axis=1)

#### Test

In [ ]:
new_df.info()

### Define
move the image and breed_prediction columns from image_df to new_df

#### Code

In [ ]:
# move the image and breed_prediction columns from image_df to new_df
image_df_new = image_df[['tweet_id', 'jpg_url', 'breed_prediction']]

#converting tweet_id column to string
image_df_new['tweet_id'] = image_df_new['tweet_id'].astype(str)

image_df_new.info()

In [ ]:
#final_df = new_df(image_df_new,how='inner', on='tweet_id')
final_df = new_df.merge(image_df_new, how='inner', on='tweet_id')

### Test

In [ ]:
#image and breed prediction are added
final_df.info()

## Storing Cleaned Dataframe to csv file

In [ ]:
#storing the clean dataframe to a csv file 
final_df.to_csv('twitter_archive_master.csv', index=False)

## ##WeRateDog Clean Dataset Analysis

In [ ]:
final_df.info()

#### Most popular Names in the Dataset

In [ ]:
#checking value counts for each name
final_df.name.value_counts()

### Most common Type of Breed (from prediction)

In [ ]:
popular_breed = final_df.breed_prediction.value_counts()
breed=popular_breed.head(10)
breed

In [ ]:
breed_type = ('Golden Retriever', 'Labrador Retriever', 'Pembroke', 'Chihuahua', 'pug', 'chow', 'samoyed', 'Toy poodle', 'Pomeranian', 'Cocker Spaniel')
breed_count = [148, 97, 87, 81, 57, 44, 42, 39, 38,30]
 
fig,ax = plt.subplots(figsize = (12,8))
ax.barh(breed_type, breed_count, alpha=0.5)
plt.yticks(breed_type)
plt.xlabel('Number of Dogs')
plt.title('10 most popular Dog Breed (from Predictions)')
plt.show()

### The Average number of likes is 8408 per tweet!

In [ ]:
final_df.favorite_count.describe()

### In Average each tweet is retweeted 2799 times!

In [ ]:
final_df.retweet_count.describe()

### The average rating is 10.66/10

In [ ]:
final_df.rating_numerator.describe()

# Insights

### Most Popular Names:

* Lucy 
* Penny 
* Charlie
* Oliver 
* Cooper
* Tucker  

All names on this list has 10 occurences each. 

### Popular Dog Breed: 

The Golden Retriever is bar far the most frequent dog breed(150 times). followed by the Labrador Retriever (100 times). 

###  The Average number of likes is 8385 in the dataset

The average tweet in this dataset has favorite_count of 8385 in average. which quite high, meaning that in average, many people enjoy the post. the most liked tweet being at 163924 likes. 

### In Average each tweet is retweeted 2792 times!

In average a WeRateDogs tweet is retweeted 2792 times. the most retweeted tweet being at 83381 according to the data we have.

### The average rating is 12.26/10
The average Rating for the dogs in this dataset is 12.26/10

## Resources and References: 

* Requests Official Documentation: http://docs.python-requests.org/en/master/user/quickstart/#response-content
* Dowloading files using Requests: https://www.geeksforgeeks.org/downloading-files-web-using-python/
* Importing tsv file: https://www.kaggle.com/tinoswe/split-python-dataframe
* Using Tweepy to query twitter API : http://docs.tweepy.org/en/3.7.0/getting_started.html
* Retrieving Data from Twitter API: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object.html <br>
https://github.com/SThornewillvE/Udacity-Project---Data-Wrangling/blob/master/wrangling-act.ipynb <br>
https://github.com/S-Tabor/udacity-data-wrangling-project/blob/master/wrangle_project_final.ipynb <br>
https://github.com/xhlow/dand-t2-p3-data-wrangling/blob/master/wrangle_act.ipynb
* Matplotlib Bar chart : https://pythonspot.com/matplotlib-bar-chart/
* merging dataframe on index : https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index
* regular expressions: https://www.youtube.com/watch?v=e0xL9o5VibU
* reverse of is: https://gist.github.com/aswad32/b580ef0311878c7bf710c835bba4f35b
* pandas to_numeric: https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas
* seeing full  pandas's column text/content:https://stackoverflow.com/questions/25351968/how-to-display-full-non-truncated-dataframe-information-in-html-when-convertin

This is the End, Thank you